$color-primary: #626c13;
$color-yellow: #ffcc48;
$color-text-black: #345;
$color-primary-sub: #92a052;
$color-text-product: #363c05;
$color-text-red: #d35400;
$color-text-orange: #e67e22;
$color-text-heading-black: #4c503d;
$color-white: #fff;
$color-disabled: #789;
$color-primary-sub-opacity: #e7edd7;
$color-bg-orange: orange;
$color-primary-sub-opacity-box: #e9f0d5;
$color-gray: #6b7280;
$color-text-danger: #dc3545;

$color-text-success: #198754;
$color-text-warning: #ffca2c;
$color-text-primary: #0b5ed7;


$color-text-admin: #1e293b;
$color-text-admin-dark: #0f172a;
$color-text-admin-gray: #d6d7d9;
$color-text-admin-sub-dark: #334155;
$color-text-admin-white: white;

:root{
  --color-text-danger: #dc3545;
  $color-text-danger: #dc3545;
}
*{
  color: $color-text-black;
}
.color-primary{
  color: $color-primary !important;
}
.color-text-warning{
  color: $color-text-danger !important;
}
.color-text-orange{
  color: $color-text-warning !important;
}
.color-text-primary{
  color: $color-text-primary !important;
}
.color-text-orange{
 color: $color-text-orange;
}
.color-text-admin{
 color: $color-text-admin;
}

